In [62]:
#Built In function in string and list
a="AbhiMANyu"
print(a.upper())
print(a.lower())
print(a.capitalize())

ABHIMANYU
abhimanyu
Abhimanyu

In [63]:
b=["Ayush","mEEt","Jeet"]
c=b[1]
print(c.upper())

MEET

In [64]:
#change words from a sentence.
sen="I am leaving in Indore since last 8 years, I am went in park everyday,I am like to play football, I am studing in college right now."
print(sen.replace("I am","We are"))

We are leaving in Indore since last 8 years, We are went in park everyday,We are like to play football, We are studing in college right now.

In [65]:
print(sen.replace("I am","we are "))

we are  leaving in Indore since last 8 years, we are  went in park everyday,we are  like to play football, we are  studing in college right now.

In [66]:
#For print lenght of the Sentence.
Name="Rudra Pratap Singh"
print(len(Name))

18

In [67]:
#count Repeated alphabets.
print(Name.count("r"))

2

In [68]:
#Add new element in list.
ab=["ai","IB","machine learing","computer science","java"]
ab.append("python")
print(ab)

['ai', 'IB', 'machine learing', 'computer science', 'java', 'python']

In [69]:
#insert element in middle in data.
ab.insert(3,"c++")
print(ab)

['ai', 'IB', 'machine learing', 'c++', 'computer science', 'java', 'python']

In [70]:
#removing element from list
ab.remove("java")
print(ab)

['ai', 'IB', 'machine learing', 'c++', 'computer science', 'python']

In [71]:
#pop
ab.pop(0)
print(ab)

['IB', 'machine learing', 'c++', 'computer science', 'python']

In [72]:
#adding multipule values in list.
ab.extend(["India","usa","uae"])
print(ab)

['IB', 'machine learing', 'c++', 'computer science', 'python', 'India', 'usa', 'uae']

In [73]:
#count numbers
x=[1,2,5,5,5,4,1,1,14,4,58,2,4,5,5,7,7,7,8,8,9,95,]
print(max(x))
print(min(x))
print(len(x))
print(sum(x))

95
1
22
257

In [74]:
#assanding number order
c=[1,1,1,9,8,5,8,4,2,5,2,1,5,4,7,4,6,3,2]
c.sort()
print(c)

[1, 1, 1, 1, 2, 2, 2, 3, 4, 4, 4, 5, 5, 5, 6, 7, 8, 8, 9]

In [75]:
c.sort(reverse=True)
print(c)

[9, 8, 8, 7, 6, 5, 5, 5, 4, 4, 4, 3, 2, 2, 2, 1, 1, 1, 1]

In [76]:
#Reverse number order
list=[4,2,5,4,6,8,2,4,5,1,5,4]
list.reverse()
print(list)

[4, 5, 1, 5, 4, 2, 8, 6, 4, 5, 2, 4]

In [77]:
#Nested list--- List inside in existing list
a1=["gorav","vivek","mayank","kapil",["manish","mohit","madhav"]]
a1[1]
a1[4][0]

'manish'

In [78]:
a1[4][1:]

['mohit', 'madhav']

In [79]:
x=a1[4][0:]
y=a1[0:3]
print(x+y)

['manish', 'mohit', 'madhav', 'gorav', 'vivek', 'mayank']

Tuple
Braket for Tuple()

In [80]:
tup=("India","USA","China","Australia","Hungry",26,900,-300,220)
print(tup)
type(tup)

('India', 'USA', 'China', 'Australia', 'Hungry', 26, 900, -300, 220)

tuple

In [81]:
tup[1:4]

('USA', 'China', 'Australia')

In [82]:
my_t=[123,25,265,24,15,25,45,47]
sum(my_t)

569

In [83]:
max(my_t)

265

In [84]:
min(my_t)

15

In [85]:
len(my_t)

8

Dictionary

It reqired key value pair

In [86]:
list_1={"mango":250,"Banana":50,"Apple":200,"Peach":100,"Papaya":60,"bread":45}
print(list_1)
type(list_1)

{'mango': 250, 'Banana': 50, 'Apple': 200, 'Peach': 100, 'Papaya': 60, 'bread': 45}

dict

In [87]:
list_1["bread"]

45

In [88]:
# Add new Item
list_1["icecream"]=300
print(list_1)

{'mango': 250, 'Banana': 50, 'Apple': 200, 'Peach': 100, 'Papaya': 60, 'bread': 45, 'icecream': 300}

In [89]:
list_1.keys()

dict_keys(['mango', 'Banana', 'Apple', 'Peach', 'Papaya', 'bread', 'icecream'])

In [90]:
list_1.values()

dict_values([250, 50, 200, 100, 60, 45, 300])

In [91]:
list_1["Notebook"]=150
print(list_1)

{'mango': 250, 'Banana': 50, 'Apple': 200, 'Peach': 100, 'Papaya': 60, 'bread': 45, 'icecream': 300, 'Notebook': 150}

In [92]:
# for remove last product
list_1.popitem()

('Notebook', 150)

In [93]:
print(list_1)

{'mango': 250, 'Banana': 50, 'Apple': 200, 'Peach': 100, 'Papaya': 60, 'bread': 45, 'icecream': 300}

In [96]:
#Delete the whole dectionary
list_1.clear()

In [95]:
print(list_1)

{}

In [99]:
emp={"name":"Ayush Malviya","Age":23,"Designation":"Teritory Operation Incharge","Salary":35000}
print(emp)

{'name': 'Ayush Malviya', 'Age': 23, 'Designation': 'Teritory Operation Incharge', 'Salary': 35000}

In [101]:
emp["City"]="Bhopal"
print(emp)

{'name': 'Ayush Malviya', 'Age': 23, 'Designation': 'Teritory Operation Incharge', 'Salary': 35000, 'City': 'Bhopal'}

In [103]:
emp["Age"]

23

In [105]:
emp["Salary"]=45000
print(emp)

{'name': 'Ayush Malviya', 'Age': 23, 'Designation': 'Teritory Operation Incharge', 'Salary': 45000, 'City': 'Bhopal'}

In [110]:
emp.popitem()

('City', 'Bhopal')

In [111]:
print(emp)

{'name': 'Ayush Malviya', 'Age': 23, 'Designation': 'Teritory Operation Incharge', 'Salary': 45000}

SETS

In [113]:
se={1,2,4,1,2,2,3,4,5,"Mango","Mango","russia"}
print(se)
type(se)

{1, 2, 3, 4, 5, 'russia', 'Mango'}

set

In [114]:
# Add new element
se.add("pakistan")

In [115]:
print(se)

{1, 2, 3, 4, 5, 'russia', 'pakistan', 'Mango'}

In [119]:
se.discard("pakistan")
print(se)

{1, 2, 3, 4, 5, 'russia', 'Mango'}

BOOLEAN

In [121]:
a=50
b=35
print(a<b)
print(a>b)
type(a<b)

False
True

bool